<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ColorPick Main Page" content="width=device-width, initial-scale=1.0">
  <title><%=locals.title %></title>
  <meta name="description" content="스테이지를 선택하는 페이지입니다.">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
  
  <section class="top">
    <h1 class="top-heading">COLOR PICK!</h1>
    <p class="top-body">스테이지를 깨고 기록을 비교해 보세요!</p>
  </section>

  <div class ="main">
    <div class ="colorpick_main-image">
      <img src="/img/colorpick_main.png" alt="컬러픽 메인 상단 이미지" class="colorpick_main" height = "500" width="600">
    </div>

    <div class ="game-start">
        <a href="/games/stage" class="btn-game-start">
          게임 시작!
        </a>
</div>


<footer class = "footer container"> 
  <div class = "footer-info">
    <li>
      <a href="https://github.com/CHEM418/colorPick">
        GITHUB LINK
      </a>
    </li>
    <li>
      <p>
        Relase Date: 2025.12.00
      </p>
    </li>
  </div>
</footer>

</body>
</html>
